ul {
  padding: 0;
}

li {
  list-style: none;
}

.rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(300, 24%, 96%);
  padding: 20px 40px;
  border-radius: 10px;
  font-weight: 700;
  min-width: 100px;
  max-width: 600px;
  margin-bottom: 20px;
}

.stars {
  margin-right: 30px;
  margin-bottom: 10;
}
body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  background-color: hsl(303, 10%, 53%);
}

.verified {
  color: hsl(303, 10%, 53%);
}

.circle {
  border-radius: 100%;
}
.container {
  padding: 20px 20px;
  max-width: 1600px;
  min-width: 200px;
  margin: 100px auto;
  background-color: white;
  border-radius: 50px;
}

h1 {
  color: hsl(300, 43%, 22%);
  font-size: 2.3rem;
  margin-top: 0;
}
/* Section */
section {
  display: flex;
  flex-direction: column;
}

section > div {
  margin: 20px;
}
.left p {
  color: hsl(303, 10%, 53%);
  line-height: 1.6em;
  text-align: center;
  font-size: 1rem;
}

.box {
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  padding: 35px 30px;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}

.box:nth-child(2) {
  margin-top: 30px;
  margin-bottom: -30px;
}

.box:nth-child(3) {
  margin-top: 60px;
  margin-bottom: -60px;
}
.box-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-pic {
  margin-right: 20px;
  margin-bottom: 10px;
}

.head-content h4 {
  margin-bottom: 0;
  margin-top: 5px;
}

.box-body p {
  line-height: 1.6em;
}

@media screen and (min-width: 800px) {
  .container {
    padding-top: 100px;
  }
  section {
    display: flex;
    flex-direction: row;
  }
  .box-head {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .rate {
    min-width: 200px;
    max-width: 400px;
  }
  .rate:nth-child(2) {
    margin-left: 30px;
  }
  .rate:nth-child(3) {
    margin-left: 60px;
  }

  .left {
    width: 50%;
  }
  .left p {
    text-align: left;
    max-width: 500px;
  }

  .right {
    width: 50%;
  }
}
