/* Mobile */
body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  background-color: #ddd;
  background-image: url("images/bg-pattern-top-mobile.svg"),
    url("images/bg-pattern-bottom-mobile.svg");
  background-position: top left, right bottom;
  background-repeat: no-repeat no-repeat;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
/* class for li */
.rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(300, 24%, 96%);
  padding: 20px 40px;
  border-radius: 10px;
  font-weight: 700;
  min-width: 100px;
  max-width: 600px;
  margin-bottom: 20px;
}

/* grouping star image */
.stars {
  margin-right: 30px;
  margin-bottom: 10;
}
/* verified text color */
.verified {
  color: hsl(303, 10%, 53%);
}

/* circeling image */
.circle {
  border-radius: 100%;
}

h1 {
  color: hsl(300, 43%, 22%);
  font-size: 2.3rem;
  margin-top: 0;
}

/* Section */
section {
  display: flex;
  flex-direction: column;
}

/* spacing each div */
section > div {
  margin: 20px;
}

/* p inside class left */
.left p {
  color: hsl(303, 10%, 53%);
  line-height: 1.6em;
  text-align: center;
  font-size: 1rem;
}

/* box design */
.box {
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  padding: 35px 30px;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}

/* box position */
.box:nth-child(2) {
  margin-top: 30px;
  margin-bottom: -30px;
}

.box:nth-child(3) {
  margin-top: 60px;
  margin-bottom: -60px;
}

.box-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-pic {
  margin-right: 20px;
  margin-bottom: 10px;
}

.head-content h4 {
  margin-bottom: 0;
  margin-top: 5px;
}

.box-body p {
  line-height: 1.6em;
}

/* desktop */
@media screen and (min-width: 769px) {
  body {
    background-image: url("images/bg-pattern-top-desktop.svg"),
      url("images/bg-pattern-bottom-desktop.svg");
    background-position: top left, right bottom;
    background-repeat: no-repeat no-repeat;
  }
  h1 {
    font-size: 4rem;
  }
  section {
    display: flex;
    flex-direction: row;
  }
  .container {
    padding-top: 100px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
  }

  .box-head {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .rate {
    min-width: 200px;
    max-width: 400px;
  }
  .rate:nth-child(2) {
    margin-left: 30px;
  }
  .rate:nth-child(3) {
    margin-left: 60px;
  }

  .left {
    width: 50%;
  }
  .left p {
    text-align: left;
    max-width: 500px;
  }

  .right {
    width: 50%;
  }
}
